.card {
    margin-bottom: 20px;
    height: 225px;

    .card-img-left {
        display: flex;
        flex-basis: 225px;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.125);
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}